*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    width: 100%;
    height: 100vh;
    background-color: gray;
    display: block;
}
header{
    height: 20vh;
    background-color: #455b45;
}
#chat-box-wrapper{
    height: 80vh;
    width: 100%;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}
#chat-box-area{
    height: 80%;
    width: 30%;
    background-color:#ffffff;
    border: 1px solid black;
    border-radius: 5px;
}



#chat-box{
    height: 90%;
}
#input-chat{
    height: 10%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
#input-chat *{
    border: none;
    padding: 0;
    margin: 0;
}
#input-chat>input{
    height: 90%;
    width: 78%;
    background-color: #ffffff;
    outline: none;
    border: 2px solid #455b45;
}
#input-chat>button{
    height: 90%;
    width: 18%;
    cursor: pointer;
}
#input-chat>button:hover{
    color: white;
    background-color: gray;
}