#reply-list{
    padding: 0;
    list-style: none;
}
/* 각각의 댓글 하나. */
.reply-row{ 
    padding: 15px 30px;
    border-top: 1px solid #45b;
}

/* 댓글목록 작성자 역역 */
.reply-writer{
    display: flex;
    align-items: center;
}
/* 작성자 프로필 이미지. */
.reply-writer img{
    width: 40px;
    height: 40px;
}

.reply-writer > span{
    font-weight: bold;
    margin-left: 10px;
}

.reply-date{
    font-size: 0.8em;
    color: #aaa;
}

.reply-btn-area{
    display: flex;
    justify-content: flex-end;
}
.reply-btn-area > button{
    width: 50px;
    height: 30px;
    margin-left: 10px;

    font-weight: bold;
    color: white;
    background-color: #455ba8;
    cursor: pointer;
    border-radius: 2px;
}
.reply-btn-area > button:hover{
    color: #455ba8;
    background-color: white;
    transition-duration: 0.2s;
    border-radius: 3px;
}

/* 댓글 작성 영역 */
.reply-write-area{
    display: flex;
    justify-content: center;
    min-height: 85px;
    margin: 30px 0;
}
#replyContent{
    flex-basis: 75%;
    margin-right: 10px;
    resize: none;
}
#addReply{
    flex-basis: 8%;
    font-weight: bold;
    background-color: #455ba8;
    color: white;
    cursor: pointer;
    border: 0;
}
#addReply:hover{
    color: #455ba8;
    background-color: white;
    transition-duration: 0.2s;
    border-radius: 3px;
    border: 2px solid #455ba8;
}